extends layout

block content
  h1= title
  h1.
          Express Bitcoin getinfo summary
  
  ul
   li timeoffset: #{data.timeoffset}
   li connections: #{data.connections}
   li balance: #{data.balance}
   li blocks: #{data.blocks}

  p   
    #{data}

  