extends layout

block content
	h1= title
	h1.
		fnpm peerinfo
		
	script(type="text/javascript", src="http://d3js.org/d3.v3.min.js")
	script(type="text/javascript", src="http://rawgit.com/benkeen/d3pie/0.1.6/d3pie/d3pie.min.js")
	script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
	
	p I am connected to 
		b #{data.length} peers.
	
	script.
		document.write("Statistics generated at " + (new Date()).toString() + ".");
		
	each peer, index in data
		#mypie
		
		script(type="text/javascript").
			var ct = #{peer.conntime} * 1000;
			//console.log(ct);
			var tconnected = moment(ct).fromNow();
			var host = "#{peer.addr}";
			//console.log(host.split(":",1));
			var hostcolor = "#666666";
			if (#{peer.inbound}) {
				hostcolor = "#6699FF";
			}
			
			var textinbound;
			if (#{peer.inbound}) {
					textfooter = "inbound " + tconnected;
				} else {
					textfooter = "outbound " + tconnected;
				}
			
			var donutsize;
			if (#{(peer.bytesrecv + peer.bytessent) / (1024*1024)} < 1) {
					donutsize = "99%";
				} else {
					donutsize = "85%";
				}
			
			var pie = new d3pie("mypie", {
			  header: {
			    title: {
			      //text: "peer #{index}, #{peer.inbound}",
				  text: host.split(":",1),
				  color: hostcolor,
				  subtitle: {
					  text: "ping!",
					  },
			    },
			    location: "pie-center",
				subtitlepadding: 50,
			  },
			  footer: {
			  		text: textfooter,
					location: "center"
			  	},
			  size: {
			    canvasHeight: 300,
			    canvasWidth: 350,  
			   // pieInnerRadius: "#{peer.bytesrecv / (1024*1024)}"
				pieInnerRadius: donutsize
			  },
			  data: {
			    sortOrder: "label-asc",
			    content: [
			      { label: "in: #{Math.round(peer.bytesrecv *100 / (1024*1024))/100} MB", value: #{peer.bytesrecv / (1024*1024)}, color: "#6699FF" },
			      { label: "out: #{Math.round(peer.bytessent *100 / (1024*1024))/100} MB", value: #{peer.bytessent / (1024*1024)}, color: "#FF0066"}
			    ]
			  }
			});				