extends layout

block content
	h1= title
	h1.
		testing...

	script(type="text/javascript", src="http://d3js.org/d3.v3.min.js")
	script(type="application/javascript", src="http://rawgit.com/benkeen/d3pie/0.1.6/d3pie/d3pie.min.js")

	p Total Data reveived: 
		#{data.totalbytesrecv / (1024*1024)}  MB
	p Total Data sent: 
		#{data.totalbytessent / (1024*1024)}  MB

	//#viz
	
	//script(type="text/javascript").
		var sampleSVG = d3.select("#viz")
			.append("svg")
			.attr("width", 100)
			.attr("height", 100);
			 
		sampleSVG.append("circle")
			.style("stroke", "gray")
			.style("fill", "white")
			.attr("r", 40)
			.attr("cx", 50)
			.attr("cy", 50)
			.on("mouseover", function(){d3.select(this).style("fill", "aliceblue");})
			.on("mouseout", function(){d3.select(this).style("fill", "white");});
			
	#mypie
			
	script(type="text/javascript").
		var pie = new d3pie("mypie", {
		  header: {
		    title: {
		      text: "Total Data Distribution"
		    },
		    location: "pie-center"
		  },
		  size: {
		    canvasHeight: 500,
		    canvasWidth: 600,  
		    pieInnerRadius: "70%"
		  },
		  data: {
		    sortOrder: "label-asc",
		    content: [
		      { label: "received", value: #{data.totalbytesrecv / (1024*1024)} },
		      { label: "sent", value: #{data.totalbytessent / (1024*1024)} }
		    ]
		  }
		});